body {
    background-color: $primary-color;
    background: url('./../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: $text-color;
    font-family: 'Galano Grotesque', sans-serif;
    min-height: 100vh;
    height: 100%;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}