.opportunity-card {
    background-color: $card-bg-color;
    border-radius: 8px;
    border: 1px solid rgba(95, 255, 255, 1);
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(8px);


    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color;
    }
}


// Animação de rotação
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: $spinner-size;
    height: $spinner-size;
    margin-top: 20px;
    animation: spin 1.5s linear infinite; // Aplicando a animação de rotação
}